@model PagedViewModel<Product>

@{
    ViewData["Title"] = "Index";
}


<partial name="_MainMenu" />

<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Products</h2>
                    <a asp-controller="home" asp-action="index">Home</a>
                    <a asp-controller="Shop" asp-action="Wishlist">Wishlist</a>
                    <a asp-controller="Shop" asp-action="Basket">Basket</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="~/assets/img/products/add.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->
<!-- Categories Page Section Begin -->
<section class="latest-products spad">
    <div class="container">
        <div class="product-filter">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Latest Products</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="product-list">

            @foreach (var item in Model.Items)
            {
                var imagePath = item.ProductImages.FirstOrDefault()?.Name;
                var notMain = item.ProductImages.FirstOrDefault(i => i.IsMain != true)?.Name;

                <div class="col-lg-3 col-sm-6 mix all bags">
                    <div class="single-product-item">
                        <figure>
                            <a asp-action="details" asp-route-id="@item.Id">
                                <img src="~/uploads/images/@imagePath" alt="">
                            </a>

                            @if (item.CreatedDate > DateTime.Now.AddDays(-6))
                            {
                                <div class="p-status">new</div>
                            }
                        </figure>
                        <div class="product-text">
                            <h6>@item.Name</h6>
                            <p>@item.Price $</p>
                            <a href="javascript:addToFavorites(@item.Id)">
                                <img style="height:30px;" src="~/assets/img/icons/favs-star.png" alt="" class="wish-icon">
                            </a>
                            <a data-product-id="@item.Id" onclick="addToBasket(event)">
                                <img style="height:30px; cursor:pointer;" src="~/assets/img/icons/addtobasket.png" alt="" class="wish-icon">
                            </a>

                        </div>

                    </div>
                </div>
            }
        </div>
    </div>

</section>
<!-- Categories Page Section End -->
<!-- Footer Section Begin -->
<partial name="_FooterWidget" />
<!-- Footer Section End -->
@section addcss{
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <style>
        .iconbox {
            display: flex;
            justify-content: center;
            gap: 20px;
            padding-top: 12px;
            font-size: 20px;
            cursor: pointer;
        }

        .wish-icon {
            transition: .7s;
        }

            .wish-icon:hover {
                transform: scale(1.4);
                transition: .7s;
            }
    </style>
}

    @section addjs{
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>


        function addToFavorites(productId) {
            const favorites = ($.cookie('favorites') || '').split(',').filter(item => item.length > 0);

            if (favorites.filter(item => item == productId).length == 0) {
                favorites.push(productId);

                $.cookie('favorites', favorites.toString(), { path: '/' });
            }

            let isInArray = true;

            $.each(favorites, function (index, value) {
                if (value === productId) {
                    isInArray = true;
                } else {
                    isInArray = false;
                }
            });

            if (isInArray) {
                toastr.success("Added to favorites");
            } else {
                toastr.success("Product is already in your favorites");
            }

            console.log($.cookie('favorites'))



        }


        function addToBasket(e) {
            e.preventDefault();

            const elementData = $(e.currentTarget).data();

            $.ajax({
                url: `@Url.Action("Basket","Shop")`,
                type: 'POST',
                data: elementData,
                contentType: 'application/x-www-form-urlencoded',
                success: function (response) {
                    if (response.error == false) {
                        //$(e.target).closest('div.card').remove();



                        //var newBasketProduct = `<ul class='list d-flex single-cart-box basket-item-${response.value.product.productId}' >
                        //        <li class='list__img'>
                        //                <a class='list__img__link d-block' asp-controller='shop' asp-action='details' asp-route-id='${response.value.product.productId}'>
                        //                     <img src='/uploads/images/${response.value.product.product.productImages[0].name}' alt='img'>
                        //            </a>
                        //        </li>
                        //        <li class='item-info'>
                        //            <ul class='d-flex'>
                        //                <li>
                        //                    <h6 class='single-product-name'>
                        //                               <a asp-controller='shop' asp-action='details' asp-route-id='${response.value.product.productId}'>${response.value.product.product.name}</a>
                        //                    </h6>
                        //                                        <span>${response.value.product.quantity} x ${response.value.product.product.price}₼</span>
                        //                </li>
                        //                <li class='s-remove'>
                        //                    <a
                        //                        class='d-inline-block del-icon'
                        //                                         aria-remove-target='.basket-item-${response.value.product.productId}'
                        //                                         data-product-id='${response.value.product.productId}'
                        //                           onclick='removeFromBasket(this,"${response.value.product.product.name}");return;'>

                        //                        <i class='far fa-trash-alt'></i>
                        //                    </a>
                        //                </li>
                        //            </ul>
                        //        </li>
                        //    </ul>`;

                        //$(".shop-cart-content").append(newBasketProduct);

                        console.log(response)

                        toastr.success(response.message, 'Success');
                        return;

                    }
                    console.log(response)

                    toastr.info(response.message, 'Info');
                },
                error: function (response, status, xhr) {
                    console.log(response, status, xhr);
                }
            });
        }
    </script>
                }